<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Table ilzam</h2>

<table>
  <tr style="color: blue;">
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr style="color: blue;">
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr style="color: blue;">
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>

<h3>
@@ -75,10 +16,22 @@ <h3>
</form>
</div>
<div class="hasil">
    {% for i in isi %}
    <h1>
      {{i.nama}}
    </h1>
  <table class="table table-striped">
    <thead>
      <th>id</th>
      <th>nama</th>
      <th>action</th>
    </thead>
    {% for i in isi%}
    <tr> 
      <td>{{i.id}} </td>
      <td>{{i.nama}} </td>
      <td>
        <a href="detail/{{i.id}}" class="btn btn-succes">view</a>
        <a href="edit/{{i.id}}" class="btn btn-warning">edit</a>
        <a href="hapus/{{i.id}}" class="btn btn-danger">delete</a>
      </td>
    </tr>
    {% endfor %}
</div>
</h3> 
</h3>  